<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Your account has been succefully deleted.</p>
  <small>We are sorry that we did not meet your expectations</small>
</body>
</html>