<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Critical error</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>There is some error on Nostradamus server</p>
  <small>At {{errorDate}}, name {{errorName}}</small>
  <br> <pre> {{errorMessage}}</pre>
</body>
</html>